@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-gray-800;
  }
  body {
    @apply bg-black text-white font-sans;
  }
}

@layer utilities {
  .text-bronze {
    color: #CD7F32;
  }
  .bg-bronze {
    background-color: #CD7F32;
  }
  .border-bronze {
    border-color: #CD7F32;
  }
  .text-gold {
    color: #D4AF37;
  }
  .bg-gold {
    background-color: #D4AF37;
  }
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}